@font-face{
    font-family: 'XKNLT';
    src: url(/font/XiaoKeNaiLaoTiShangYongMianFei@QingKeZiTi-2.ttf);   
}
@font-face{
    font-family: 'JNMYT';
    src: url(/font/JingNanMaiYuanTi-2.otf);
}@font-face{
    font-family: 'SYHT';
    src: url(/font/SourceHanSansSC-ExtraLight-2.otf);
}
@font-face {
    font-family: 'SYT';
    src: url(/font/YouSheYuFeiTeJianKangTi-2.ttf);
}